{%extends 'base.html'%} {% block content %}{{ block.super}}
<h1 style="text-align: center"> AWWARDS</h1>


{% for project in projects %}



<div class="card mb-3">
    <img class="card-img-top" src="{{ project.Landingpage_img.url }}" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title" style="text-align: center">{{ project.Title }}</h2>
        <p class="card-text" style="text-align: center">{{ project.Description }}</p>
        <p class="card-text" style="text-align: center"><a href="{{ project.Livelink}}">Live Link</a></p>
        <p class="card-text" style="text-align: center"><a href="{% url 'add-rate' %}?project_id={{project.id}}" style="text-align: center">Rate</a></p>
        <table class="table">
            <thead>
                <tr class="table-secondary">

                    <th scope="col">User</th>
                    <th scope="col">Design</th>
                    <th scope="col">Usability</th>
                    <th scope="col">Content</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for rate in project.rates.all %}
                <tr>

                    <td>{{rate.user}}</td>
                    <td>{{rate.design}}</td>
                    <td>{{rate.usability}}</td>
                    <td>{{rate.content}}</td>
                    <td>{{rate.score}}</td>
                </tr>
                {% endfor %}


            </tbody>
        </table>

    </div>
</div>






{% endfor %} {% endblock %}